@using CodeBase.Common.Infrastructure.DependencyResolution
@using CodeBase.Common.Web.Mvc.Html
@using CodeBase.Common.Web.Mvc.Layout
@using CodeBase.Off.Core.Domain
@using CodeBase.Off.Core.Web.Mvc
@{
    var layout = IoC.Get<ILayoutHelpers>();
    var config = IoC.Get<Config>();
}
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<meta charset="utf-8" />
<meta lang="fa" />
<title>@(layout.GetTitle(config.Seo.TitleSeparator, config.Seo.DefaultTitle))</title>
<meta name="keywords" content="@(layout.GetKeywords(config.Seo.DefaultKeywords))">
<meta name="description" content="@Html.Safe(layout.GetDescription(config.Seo.DefaultDescription))">
<meta name="author" content="CodeBase">
<meta name="generator" content="cb-off v0.9">
<link href="@Url.Action("Index", "Feed")" rel="alternate" type="application/rss+xml" />
<link rel="shortcut icon" href="@Url.Image("Favicon.ico", true)">