<nav>
    <ul>
        <li>
            @Html.ActionLink("صفحه اصلی", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("نوشته‌ها", "Index", "Blog")
        </li>
        <li>
            @Html.ActionLink("خدمات", "Index", "Services")
        </li>
        <li>
            @Html.ActionLink("نمونه کارها", "Index", "Portfolio")
        </li>
        <li>
            @Html.ActionLink("درباره ما", "Index", "About")
        </li>
        <li>
            @Html.ActionLink("تماس با ما", "Index", "Contact")
        </li>
    </ul>
</nav>